<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1> Welcome to the text analyzer. Enter your text below </h1>
<form action ="/analyze" method="get">
    <textarea name= "text" spellcheck="false" style="width: 741px; height: 177px;"></textarea>
    <input type="checkbox" name="removepunc"> Remove punctuations <br>
    <input type="checkbox" name="fullcaps"> Convert to uppercase<br>
    <input type="checkbox" name="newlineremover"> New line remover<br>
    <input type="checkbox" name="extraspaceremover"> Extra Space Remover<br>
    <button type="Submit">Analyze text</button>
</form>
</body>
</html>